/* https://codepen.io/StijnDeWitt/pen/LryNxa */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100%;
}

/* HEADER with drop-shadow on scroll */
header {
  height: 80px; /* 64 + 16px */
  position: sticky;
  /* -webkit-position: sticky; */
  top: -16px;
  /* make sure header overlaps main*/
  z-index: 1;
  color: white;
  text-align: center;
}

/* PSEUDO ELEMENTS to create drop-shadow */
header::before,
header::after {
  content: "";
  display: block;
  height: 16px;
  /* make pseudo elements sticky as well */
  position: sticky;
  /* -webkit-position: sticky; */
}

/* SHADOW */
header::before {
  top: 48px; /* shadow is at bottom of element, so at 48 + 16 = 64px */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

/* COVER */
header::after {
  /* linear gradient from background color to transparent acts as
     a transition effect so the shadow appears gradually */
  background: linear-gradient(
    white 10%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.4) 70%,
    transparent
  );
  top: 0;
  /* cover should fall over shadow */
  z-index: 2;
}

/* HEADER CONTENT */
header > div {
  background: orange;
  height: 64px;
  padding: 20px;
  position: sticky;
  /* -webkit-position: sticky; */
  top: 0px;
  /* compensate for shadow with negative margin */
  margin-top: -16px;
  /* content should fall over shadow and cover */
  z-index: 3;
}

header > div h3 {
  margin: 0;
}

main {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
}

.big {
  font-size: 27px;
}
