* {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  padding: 5px;
}
label {
  flex: 0 0 auto; /* grow shring auto */
  margin: 5px;
}

.container {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  min-width: 2rem;
}

.dish {
  display: flex;
  justify-content: center;
  align-items: center;
}
